@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&family=Archivo:wght@200&family=Capriola&family=Changa+One:ital@0;1&family=Jost&family=Lexend&family=Prata&family=Public+Sans:wght@100;300&family=Syne:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo:wght@200&family=Capriola&family=Changa+One:ital@0;1&family=Jost&family=Lexend&family=Prata&family=Public+Sans:wght@100;300&family=Syne:wght@500&display=swap');
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #ffffff8b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 70px;
    font-size: 110%;
}

.logo img {
    max-height: 40px;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    display: inline-block;
    margin-right: 40px;
    
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links a {
    text-decoration: none;
}

.fil {
    color: #444444;

}
.fil:hover {
    color:#a9a9a9
}

.contact {
    border: 2px solid #f6ae1f;
    border-radius: 22px;
    color: #ffffff;
    padding: 15px 25px;
    background-color: #f6ae1f;
}

.contact:hover {
    background-color: #ffffff;
    color: #f6ae1f;
}
 


.navbari{

    position: absolute;
    height: 80%;
    width: 100%;


}


h1{
    font-family: 'Anton', sans-serif;
    font-size: 320%;
    position: absolute;
    top: 20%;
    left: 32%;
    color: #292929;
    letter-spacing: 0.1cm;

}


.text{
    position: absolute;
    top: 34%;
    left: 12%;
    font-family: 'Abel', sans-serif;
    margin: 3%;
    font-size: 130%;
    position: absolute;
    color: #2f2f2f;
}




.container {
    max-width: 1200px;
    margin: 20px auto;
    overflow: hidden;
    margin-top: 20%;
    margin-left: 17%;
}

.option {
    width: 48%;
    float: left;
    margin-right: 2%;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
}

h2 {
    color: #f6ae1f;
    font-family: 'Abel', sans-serif;
    margin: 3%;
    font-size: 150%;
}

.container ul {
    list-style-type: none;
    padding: 0;
}

.container li {
    margin-bottom: 10px;
    font-family: 'Abel', sans-serif;
    margin: 3%;
    font-size: 140%;

}


.container p {
    font-family: 'Abel', sans-serif;
    font-size: 100%;
    font-weight: bold;

}
